# ==========================================
# SECRETS ET INFOS SENSIBLES (CRITIQUE)
# ==========================================
# Ton fichier de stockage de mots de passe
secrets_*.txt
*.pem
*.key
id_ed25519*
authorized_keys

# ==========================================
# TERRAFORM
# ==========================================
# Dossier de travail (contient les providers binaires)
.terraform/

# Fichiers d'état (CONTIENNENT TES MOTS DE PASSE EN CLAIR)
*.tfstate
*.tfstate.*

# Fichiers de variables (si tu en utilises)
*.tfvars
*.tfvars.json

# Fichiers de log Terraform
*.txt
terraform.log

# Fichiers de crash
crash.log

# ==========================================
# ANSIBLE
# ==========================================
# Fichiers de retry
*.retry

# Logs Ansible (si tu en as généré)
ansible_debug.log

# Rôles téléchargés
roles/external/

# ==========================================
# SYSTEME ET EDITEURS
# ==========================================
.DS_Store
.venv/
venv/
.vscode/
.idea/
__pycache__/
*.pyc
